<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Интернет-магазин</title>
		<link rel="stylesheet" href="styles/style.css">
	</head>

	<body>
		<div id="app">
			<header class='header'>
				<div class="header__content container">
					<h1>Интернет-магазин</h1>
					<div class="cart__list">
						<form action="#" class="search__form" @submit.prevent="filter">
							<input type="text" class="search__field" v-model="userSearch">
							<button class="btn__search" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
						<button class="btn__cart" type="button" @click="showCart = !showCart">Корзина</button>
						<div class="cart__block" v-show="showCart">
							<p v-if="!cartItems.length">Корзина пуста</p>
							<div class="cart__item" v-for="item of cartItems" :key="item.id_product">
								<div class="product__bio">
									<img :src="imgCart" alt="Some image">
									<div class="product__desc">
										<p class="product__title">{{item.product_name}}</p>
										<p class="product__quantity">Количество: {{item.quantity}}</p>
										<p class="product__single-price">{{item.price}}₽ за единицу</p>
									</div>
								</div>
								<div class="right__block">
									<p class="product__price">{{item.quantity*item.price}}₽</p>
									<button class="btn__del" @click="remove(item)">&times;</button>
								</div>
							</div>
						</div>						
					</div>

				</div>
			</header>
			<main class='main container'>
				<div class="products__list">
					<div class="product__item" v-for="product of filtered" :key="product.id_product">
						<img :src="imgCatalog" alt="Some img">
						<div class="products__desc">
							<h3 class="products__title">{{product.product_name}}</h3>
							<p class="products__price">{{product.price}}₽</p>
							<button class="btn__buy" @click="addProduct(product)">Купить</button>
						</div>
					</div>
				</div>	
			</main>			
		</div>
		<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/main.js"></script>
	</body>

</html>