/* Regular */
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiBold.ttf") format("truetype"), url("../fonts/MyriadPro-SemiBold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Light.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

li {
  text-decoration: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #363636;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.img {
  width: 200px;
  height: 200px;
  /* display: block; */
  border: 1px solid #ddd;
  margin: 0 0 10px 0;
}

p {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.selector {
  margin: 40px 0;
  border: 1px solid #000;
  text-align: center;
}

h2 {
  font-size: 36px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

button {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #bbb;
}

button:hover {
  background-color: #aaa;
}

.btn__del {
  width: 50px;
}

.btn__search {
  width: 50px;
}

.header {
  height: 90px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

.cart__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__item:not(:last-child) {
  margin-bottom: 20px;
}

.cart__item img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 15px;
}

.cart__block {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 200px;
  top: 10px;
  position: absolute;
  background-color: white;
  padding: 20px;
  color: black;
  width: 450px;
}

.cart__block:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 35px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.invisible {
  display: none;
}

.search__form {
  margin-right: 30px;
}

.search__field {
  height: 40px;
}

.price {
  margin-bottom: 10px;
  text-align: center;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.products__price {
  font-size: 30px;
}

.product__item {
  height: 350px;
  width: 250px;
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */